{include file="public/header" /}
<script src="__ROOT__/js/additbox.js"></script>
<div class="container-fluid">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="#">管理员管理</a></li>
        <li class="active">管理员列表</li>
    </ol>
    <!-- 按钮 -->
    <div class="row buttons">
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="搜索电话号码" id="searchFieldMobile" value="{$Request.param.mobile}">
        </div>
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="搜索姓名" id="searchFieldName" value="{$Request.param.name}">
        </div>
        <div class="col-md-2" align="left">
            <button class="btn btn-success" onclick="location.href = '{$defaultParams??'?'}&mobile='+$('#searchFieldMobile').val()+'&name='+$('#searchFieldName').val()+'';">搜索</button>
            <button class="btn btn-default" onclick="reload();">刷新</button>
        </div>
        <div class="col-md-6" align="right">
            <button class="btn btn-default" onclick="additbox.add();">添加管理员</button>
        </div>
    </div>

    <!-- 列表 -->
    <div class="row">
        <table class="table table-hover col-md-12">
            <thead>
                <tr>
                    <th>账号</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {:is_null($data.rows) || count($data.rows) == 0 ? '<tr><td colspan="7" class="no-data">暂无数据</td></tr>' : ''}
                {volist name="data.rows" id="row"}
                    <tr>
                        <td style="display:none;" id="tablerow_{$row.id}">
                            {php}
                                $row['password'] = null;
                            {/php}
                            {$row|json_encode}
                        </td>
                        <td>{$row.username}</td>
                        <td>{$row.name}</td>
                        <td>{$row.mobile}</td>
                        <td class="text-overflow-ellipsis" style="max-width:120px;" title="{$row.remark}">{$row.remark}</td>
                        <td>{$row.disabled == 0 ? '有效' : '无效'}</td>
                        <td class="fromUnixtimestamp">{$row.create_time}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" onclick="additbox.edit('修改 - {$row.title}', $('#tablerow_{$row.id}').html());">修改</button>
                            <button class="btn btn-primary btn-sm" onclick="loadUserRolesSelector('{$row.id}');">角色设置</button>
                            <button class="btn btn-{$row.disabled == 0 ? 'danger' : 'success'} btn-sm" onclick="dis('{$row.id}', {$row.disabled == 0 ? 1 : 0});">{$row.disabled == 0 ? '禁用' : '启用'}</button>
                        </td>
                    </tr>
                {/volist}
            </tbody>
        </table>
    </div>

    {include file="public/pagination" /}

    <div class="row" id="userRolesSelector" style="display: none; margin: 0px; padding: 20px 0px;">
        {volist name="roles" id="role"}
            <div class="col-md-4">
                <input class="checkbox" type="checkbox" name="{$role.id}" id="role_id_{$role.id}" />  
                <label class="checkbox-label" for="role_id_{$role.id}">
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <i class="fa fa-square" aria-hidden="true"></i>
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <span>{$role.name}</span>
                </label>
            </div>
        {/volist}
    </div>
    <script>
        // 加载用户角色选择框
        function loadUserRolesSelector(userid){
            $.ajax({
                url: 'userRoleListJson.html?ajax',
                data: {userid: userid},
                succeeded: function(data){
                    $("#userRolesSelector").find('input[type=checkbox]').each(function(index, item){
                        item.checked = false;
                    });
                    for(var i in data.data){
                        $("#userRolesSelector").find('#role_id_'+data.data[i]['role_id']).get(0).checked = true;
                    }

                    var userRolesSelectorLayerIndex = layer.open({
                        type: 1,
                        title: '设置管理员角色',
                        area: ['500px', '300px'],
                        content: $('#userRolesSelector'),
                        success: function(layero, index){
                            $('#userRolesSelector').show();
                        },
                        end: function(){
                            $('#userRolesSelector').hide();
                        },
                        btn: ['确定', '取消'],
                        yes: function(index, layero){
                            // 获取所有菜单
                            var checkedRoles = [];
                            $('#userRolesSelector').find('input[type=checkbox]:checked').each(function(index, item){
                                checkedRoles.push(item.name);
                            });
                            $.ajax({
                                url: 'setUserRoles.html?ajax',
                                data: {
                                    userid: userid,
                                    roleids: JSON.stringify(checkedRoles)
                                },
                                succeeded: function(data){
                                    location.reload();
                                }
                            });
                        },
                        btn2: function(index, layero){
                            layer.close(index);
                        }
                    });
                }
            });
        }
    </script>

    <table id="additbox" class="additbox">
        <tbody>
            <tr>
                <td class="rqd">账号</td>
                <td><input type="text" class="form-control" name="username" placeholder="6-16位中英文数字以及下划线" /></td>
            </tr>
            <tr>
                <td class="rqd">密码</td>
                <td><input type="text" class="form-control" name="password" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">姓名</td>
                <td><input type="text" class="form-control" name="name" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">电话</td>
                <td><input type="text" class="form-control" name="mobile" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">备注</td>
                <td><input type="text" class="form-control" name="remark" placeholder="" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" class="form-control" name="id" />
                    <button class="btn btn-primary" onclick="additbox.save();">确定</button>
                    <button class="btn btn-danger" onclick="additbox.hideAdditbox();">取消</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        var additbox = initAdditbox({
            box:            $('#additbox'),
            width:          '800px',
            height:         '340px',
            addURL:         'add.html?ajax',
            addTitle:       '添加管理员',
            editURL:        'edit.html?ajax',
            beforeAdd: function(options){
                var box = options.box;
                box.find('input[name=password]').attr('placeholder', '至少6位的任意字符');
                return true;
            },
            beforeEdit: function(options){
                var box = options.box;
                box.find('input[name=password]').attr('placeholder', '至少6位的任意字符; 不输入则不修改');
                return true;
            },
            beforeSave: function(options, data){
                data['is_admin'] = 1;
                return true;
            }
        });

        function dis(id, disabled){
            layer.confirm('确定'+(disabled == 0 ? '启用' : '禁用')+'?', {btn: ['确认', '取消'], title: '确定?'}, function(){
                $.ajax({
                    url: 'dis.html?ajax',
                    data: {
                        id:         id,
                        disabled:   disabled
                    },
                    succeeded: function(data){
                        reload();
                        return true;
                    }
                });
            });
        }
    </script>

</div>
{include file="public/footer" /}