<script>
    $(function(){
        $('#menu li').bind({
            click: function(){
                $(this).siblings().removeClass('active');
                $(this).siblings().find('li').removeClass('active');
                $(this).addClass('active');

                if($(this).attr('go'))
                    $('#iframe').attr('src', $(this).attr('go'));
            }
        });
    });

    function deactiveMenuItems(){
        $('#menu li').removeClass('active');
    }
</script>
<nav class="navbar navbar-default" role="navigation" id="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menulist">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="menulist">
            <ul class="nav navbar-nav">
                <!-- <li go="../home/demoListPage.html?disabled=0&porder=create_time&psort=desc"><a href="#">Demo</a></li> -->
                <li class="dropdown keepopen-on-active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li go="../user/listPage.html?porder=create_time&psort=desc"><a href="#">管理员列表</a></li>
                        <li go="../role/listPage.html?porder=create_time&psort=desc"><a href="#">角色列表</a></li>
                        <li go="../menu/listPage.html?porder=create_time&psort=desc&disabled=0"><a href="#">菜单列表</a></li>
                        <li class="divider"></li>
                        <li go="../user/loglistPage.html?porder=create_time&psort=desc"><a href="#">管理员访问记录</a></li>
                    </ul>
                </li>
                <li class="visible-sm-block visible-xs-block dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 其他 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {include file="public/navbar-right" /}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>