{include file="public/header" /}
<script src="__ROOT__/js/additbox.js"></script>
<div class="container-fluid">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="#">菜单管理</a></li>
        <li class="active">菜单列表</li>
    </ol>
    <!-- 按钮 -->
    <div class="row buttons">
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="搜索名称" id="searchFieldName" value="{$Request.param.name}">
        </div>
        <div class="col-md-2" align="left">
            <button class="btn btn-success" onclick="location.href = '{$defaultParams??'?'}&mobile='+$('#searchFieldMobile').val()+'&name='+$('#searchFieldName').val()+'';">搜索</button>
            <button class="btn btn-default" onclick="reload();">刷新</button>
        </div>
        <div class="col-md-8" align="right">
            <button class="btn btn-default" onclick="additbox.add();">添加菜单</button>
        </div>
    </div>

    <!-- 列表 -->
    <div class="row">
        <table class="table table-hover col-md-12">
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>图标</th>
                    <th>标识符</th>
                    <th>序号</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {:is_null($data.rows) || count($data.rows) == 0 ? '<tr><td colspan="7" class="no-data">暂无数据</td></tr>' : ''}
                {php}
                    function loopNbsp($count=0){
                        $result = '';
                        for($i = 0; $i < $count; $i++) $result .= '&nbsp;';
                        return $result;
                    }

                    function subMenuOutput($menus=[], $level=0){
                        foreach($menus as $k=>$row){
                            echo '<tr '.($level > 0 ? 'style="display: none;"' : '').' pid="'.$row['pid'].'">';
                            echo '    <td style="display:none;" id="tablerow_'.$row['id'].'">';
                            echo          json_encode($row);
                            echo '    </td>';
                            echo '    <td style="cursor: pointer; width: 200px; max-width: 200px; text-align: left; padding-left: 20px; user-select: none;" onclick="opeSubMenu($(this));" class="subhidden" mid="'.$row['id'].'">';
                            echo          loopNbsp($level*3);
                            echo '        <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>';
                            echo '        <i class="fa fa-chevron-right" aria-hidden="true"></i>';
                            echo '    </td>';
                            echo '    <td><a href="'.$row['href'].'">'.$row['name'].'</a></td>';
                            echo '    <td><i class="'.$row['icon'].'" aria-hidden="true"></i></td>';
                            echo '    <td>'.$row['permission'].'</td>';
                            echo '    <td>'.$row['sort'].'</td>';
                            echo '    <td class="text-overflow-ellipsis" style="max-width:120px;" title="'.$row['remark'].'">'.$row['remark'].'</td>';
                            echo '    <td class="fromUnixtimestamp">'.$row['create_time'].'</td>';
                            echo '    <td>';
                            echo '        <button class="btn btn-primary btn-sm" onclick="additbox.edit(\'修改 - '.$row['name'].'\', $(\'#tablerow_'.$row['id'].'\').html());">修改</button>';
                            echo '        <button class="btn btn-danger btn-sm" onclick="dis(\''.$row['id'].'\', 1);">删除</button>';
                            echo '    </td>';
                            echo '</tr>';

                            if(isset($row['subMenus']) && is_array($row['subMenus'])){
                                subMenuOutput($row['subMenus'], $level+1);
                            }
                        }
                    }
                    subMenuOutput($data['rows'], 0);
                {/php}
            </tbody>
        </table>
        <script>
            function opeSubMenu(obj){
                if(obj.hasClass('subhidden')){
                    obj.removeClass('subhidden');
                    obj.children('.fa-chevron-down').show();
                    obj.children('.fa-chevron-right').hide();

                    $('tr[pid='+obj.attr('mid')+']').show();
                }else{
                    obj.addClass('subhidden');
                    obj.children('.fa-chevron-down').hide();
                    obj.children('.fa-chevron-right').show();

                    $('tr[pid='+obj.attr('mid')+']').hide();
                }
                obj.parent().show();
            }
        </script>
    </div>

    <table id="additbox" class="additbox">
        <tbody>
            <tr>
                <td class="">父菜单</td>
                <td>
                    <input type="hidden" name="pid">
                    <div class="typeahead__container">
                        <div class="typeahead__field">
                            <span class="typeahead__query">
                                <input class="form-control js-typeahead" name="pmenuName" type="search" autocomplete="off" placeholder="搜索父菜单名称">
                            </span>
                        </div>
                    </div>
                    <!-- 初始化商家异步选择器 -->
                    <script>
                        // 初始化商家异步选择器
                        $(function(){
                            initTypeahead(
                                // 搜索框
                                $("#additbox").find("input[name=pmenuName]"),
                                // 搜索结果模板
                                function (query, item){
                                    return "{{name}}: {{href}}";
                                },
                                // 空数据时显示的内容
                                "没有搜索到关于{{query}}的商家",
                                // 搜索配置
                                {
                                    rows: {
                                        display: ["name"],
                                        ajax: function(query){
                                            return {
                                                url: "listJson.html?ajax",
                                                path: "data.rows",
                                                data:{
                                                    name: query,
                                                    disabled: 0,
                                                    pageNum: 1,
                                                    pageSize: 100
                                                }
                                            };
                                        }
                                    }
                                },
                                // 搜索结果回调
                                function(node, data, query){
                                    $(node).val(data.name);
                                    $("#additbox").find("input[name=pid]").val(data.id);
                                }
                            );
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td class="rqd">名称</td>
                <td><input type="text" class="form-control" name="name" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">图标</td>
                <!-- <td title="点击修改">
                    <img class="img-50x50 icon-img" src="__ROOT____NOPIC__" style="cursor: pointer;" onclick="$('#additbox').find('.icon-file').trigger('click');" />
                    <input type="hidden" class="form-control" name="icon" placeholder="" />
                    <input style="display: none;" type="file" class="form-control icon-file" onchange="var iconfileThis = this; uploadFile(iconfileThis, function(src){$(iconfileThis).prev().val(src);$(iconfileThis).prev().prev().attr('src', src);});" /> -->
                <td>
                    <input type="text" class="form-control" name="icon" placeholder="" />
                </td>
            </tr>
            <tr>
                <td class="">链接</td>
                <td><input type="text" class="form-control" name="href" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">标识符</td>
                <td><input type="text" class="form-control" name="remark" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">序号</td>
                <td><input type="text" class="form-control" name="sort" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">是否显示</td>
                <td>
                    <select class="form-control" name="hidden">
                        <option value="0">显示</option>
                        <option value="1">隐藏</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="">备注</td>
                <td><input type="text" class="form-control" name="remark" placeholder="" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" class="form-control" name="id" />
                    <button class="btn btn-primary" onclick="additbox.save();">确定</button>
                    <button class="btn btn-danger" onclick="additbox.hideAdditbox();">取消</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        var additbox = initAdditbox({
            box:            $('#additbox'),
            width:          '800px',
            height:         '470px',
            addURL:         'add.html?ajax',
            addTitle:       '添加菜单',
            editURL:        'edit.html?ajax',
            /* beforeAdd:      function(options){
                var box = options.box;
                box.find('.icon-img').attr('src', '__ROOT____NOPIC__');
                return true;
            },
            beforeEdit:     function(options, title, data){
                options.box.find('.icon-img').attr('src', data['icon']);
                return true;
            } */
        });

        function dis(id, disabled){
            layer.confirm('确定删除?', {btn: ['确认', '取消']}, function(){
                $.ajax({
                    url: 'dis.html?ajax',
                    data: {
                        id:         id,
                        disabled:   disabled
                    },
                    succeeded: function(data){
                        reload();
                        return true;
                    }
                });
            });
        }
    </script>

</div>
{include file="public/footer" /}