{include file="public/header" /}
<script src="__ROOT__/js/additbox.js"></script>
<div class="container-fluid">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="#">菜单管理</a></li>
        <li class="active">菜单列表</li>
    </ol>
    <!-- 按钮 -->
    <div class="row buttons">
        <div class="col-md-2" align="left">
            <button class="btn btn-default" onclick="reload();">刷新</button>
        </div>
        <div class="col-md-10" align="right">
            <button class="btn btn-default" onclick="additbox.add();">添加菜单</button>
        </div>
    </div>

    <!-- 列表 -->
    <style>
        #menuList .col-md-12{
            padding: 8px 0px;
            line-height: 34px;
        }
        #menuList .col-md-12:hover{
            background-color: rgba(0,0,0,0.05);
        }
    </style>
    <div class="row" id="menuList">
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-3">名称</div>
            <div class="col-md-2">标识符</div>
            <div class="col-md-1">序号</div>
            <div class="col-md-1">可见</div>
            <div class="col-md-2">创建时间</div>
            <div class="col-md-2">操作</div>
        </div>
        {:is_null($data.rows) || count($data.rows) == 0 ? '<div class="col-md-12" style="font-size: 15px; text-align: center; cursor: default;">暂无数据</div>' : ''}
        {php}
            function loopNbsp($count=0){
                $result = '';
                for($i = 0; $i < $count; $i++) $result .= '&nbsp;';
                return $result;
            }

            function subMenuOutput($menus=[], $level=0, $pid=''){
                echo '<div class="col-md-12" style="'.($level > 0 ? 'display: none;' : '').'" pid="'.$pid.'">';
                foreach($menus as $k=>$row){
                    echo '<div class="col-md-12">';
                    echo '    <data style="display:none;" id="tablerow_'.$row['id'].'">';
                    echo          json_encode($row);
                    echo '    </data>';
                    echo '    <div class="col-md-1 subhidden" style="cursor: pointer; user-select: none;" onclick="opeSubMenu($(this));" mid="'.$row['id'].'">';
                    echo          loopNbsp($level*3);
                    echo '        <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>';
                    echo '        <i class="fa fa-chevron-right" aria-hidden="true"></i>';
                    echo '    </div>';
                    echo '    <div class="col-md-3"><i class="'.$row['icon'].'" aria-hidden="true"></i> <a href="'.$row['href'].'">'.$row['name'].'</a></div>';
                    echo '    <div class="col-md-2">'.$row['permission'].'</div>';
                    echo '    <div class="col-md-1">'.$row['sort'].'</div>';
                    echo '    <div class="col-md-1">'.($row['hidden'] == 1 ? '否' : '是').'</div>';
                    echo '    <div class="col-md-2 fromUnixtimestamp" style="width: 16.66666667%;">'.$row['create_time'].'</div>';
                    echo '    <div class="col-md-2">';
                    echo '        <button class="btn btn-primary btn-sm" onclick="additbox.edit(\'修改 - '.$row['name'].'\', $(\'#tablerow_'.$row['id'].'\').html());">修改</button>';
                    echo '        <button class="btn btn-danger btn-sm" onclick="dis(\''.$row['id'].'\', 1);">删除</button>';
                    echo '    </div>';
                    echo '</div>';

                    if(isset($row['subMenus']) && is_array($row['subMenus'])){
                        subMenuOutput($row['subMenus'], $level+1, $row['id']);
                    }
                }
                echo '</div>';
            }
            subMenuOutput($data['rows'], 0, '');
        {/php}
        <script>
            function opeSubMenu(obj){
                if(obj.hasClass('subhidden')){
                    obj.removeClass('subhidden');
                    obj.children('.fa-chevron-down').show();
                    obj.children('.fa-chevron-right').hide();

                    $('div[pid='+obj.attr('mid')+']').slideDown();
                }else{
                    obj.addClass('subhidden');
                    obj.children('.fa-chevron-down').hide();
                    obj.children('.fa-chevron-right').show();

                    $('div[pid='+obj.attr('mid')+']').slideUp();
                }
                obj.parent().show();
            }
        </script>
    </div>

    <table id="additbox" class="additbox">
        <tbody>
            <tr>
                <td class="">父菜单</td>
                <td>
                    <input type="hidden" name="pid">
                    <div class="typeahead__container">
                        <div class="typeahead__field">
                            <span class="typeahead__query">
                                <input class="form-control js-typeahead" name="pmenuName" type="search" autocomplete="off" placeholder="搜索父菜单名称">
                            </span>
                        </div>
                    </div>
                    <!-- 初始化商家异步选择器 -->
                    <script>
                        // 初始化商家异步选择器
                        $(function(){
                            initTypeahead(
                                // 搜索框
                                $("#additbox").find("input[name=pmenuName]"),
                                // 搜索结果模板
                                function (query, item){
                                    return "{{name}}: {{href}}";
                                },
                                // 空数据时显示的内容
                                "没有搜索到关于{{query}}的商家",
                                // 搜索配置
                                {
                                    rows: {
                                        display: ["name"],
                                        ajax: function(query){
                                            return {
                                                url: "listJson.html?ajax",
                                                path: "data.rows",
                                                data:{
                                                    name: query,
                                                    disabled: 0,
                                                    pageNum: 1,
                                                    pageSize: 100
                                                }
                                            };
                                        }
                                    }
                                },
                                // 搜索结果回调
                                function(node, data, query){
                                    $(node).val(data.name);
                                    $("#additbox").find("input[name=pid]").val(data.id);
                                }
                            );
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td class="rqd">名称</td>
                <td><input type="text" class="form-control" name="name" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">图标</td>
                <!-- <td title="点击修改">
                    <img class="img-50x50 icon-img" src="__ROOT____NOPIC__" style="cursor: pointer;" onclick="$('#additbox').find('.icon-file').trigger('click');" />
                    <input type="hidden" class="form-control" name="icon" placeholder="" />
                    <input style="display: none;" type="file" class="form-control icon-file" onchange="var iconfileThis = this; uploadFile(iconfileThis, function(src){$(iconfileThis).prev().val(src);$(iconfileThis).prev().prev().attr('src', src);});" /> -->
                <td>
                    <input type="text" class="form-control" name="icon" placeholder="" />
                </td>
            </tr>
            <tr>
                <td class="">链接</td>
                <td><input type="text" class="form-control" name="href" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">标识符</td>
                <td><input type="text" class="form-control" name="permission" placeholder="推荐格式: module:controller:action" /></td>
            </tr>
            <tr>
                <td class="">序号</td>
                <td><input type="text" class="form-control" name="sort" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">是否显示</td>
                <td>
                    <select class="form-control" name="hidden">
                        <option value="0">显示</option>
                        <option value="1">隐藏</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="">备注</td>
                <td><input type="text" class="form-control" name="remark" placeholder="" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" class="form-control" name="id" />
                    <button class="btn btn-primary" onclick="additbox.save();">确定</button>
                    <button class="btn btn-danger" onclick="additbox.hideAdditbox();">取消</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        var additbox = initAdditbox({
            box:            $('#additbox'),
            width:          '800px',
            height:         '470px',
            addURL:         'add.html?ajax',
            addTitle:       '添加菜单',
            editURL:        'edit.html?ajax',
            /* beforeAdd:      function(options){
                var box = options.box;
                box.find('.icon-img').attr('src', '__ROOT____NOPIC__');
                return true;
            },
            beforeEdit:     function(options, title, data){
                options.box.find('.icon-img').attr('src', data['icon']);
                return true;
            } */
        });

        function dis(id, disabled){
            layer.confirm('确定删除?', {btn: ['确认', '取消']}, function(){
                $.ajax({
                    url: 'dis.html?ajax',
                    data: {
                        id:         id,
                        disabled:   disabled
                    },
                    succeeded: function(data){
                        reload();
                        return true;
                    }
                });
            });
        }
    </script>

</div>
{include file="public/footer" /}