{include file="public/header" /}
<script src="__ROOT__/js/additbox.js"></script>
<div class="container-fluid">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="#">角色管理</a></li>
        <li class="active">角色列表</li>
    </ol>
    <!-- 按钮 -->
    <div class="row buttons">
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="搜索名称" id="searchFieldName" value="{$Request.param.name}">
        </div>
        <div class="col-md-2" align="left">
            <button class="btn btn-success" onclick="location.href = '{$defaultParams??'?'}&mobile='+$('#searchFieldMobile').val()+'&name='+$('#searchFieldName').val()+'';">搜索</button>
            <button class="btn btn-default" onclick="reload();">刷新</button>
        </div>
        <div class="col-md-8" align="right">
            <button class="btn btn-default" onclick="additbox.add();">添加角色</button>
        </div>
    </div>

    <!-- 列表 -->
    <div class="row">
        <table class="table table-hover col-md-12">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {:is_null($data.rows) || count($data.rows) == 0 ? '<tr><td colspan="7" class="no-data">暂无数据</td></tr>' : ''}
                {volist name="data.rows" id="row"}
                    <tr>
                        <td style="display:none;" id="tablerow_{$row.id}">
                            {$row|json_encode}
                        </td>
                        <td>{$row.name}</td>
                        <td class="text-overflow-ellipsis" style="max-width:120px;" title="{$row.remark}">{$row.remark}</td>
                        <td class="fromUnixtimestamp">{$row.create_time}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" onclick="additbox.edit('修改 - {$row.title}', $('#tablerow_{$row.id}').html());">修改</button>
                            <button class="btn btn-primary btn-sm" onclick="showMenuSelector('{$row.id}');">菜单设置</button>
                            <button class="btn btn-{$row.disabled == 0 ? 'danger' : 'success'} btn-sm" onclick="dis('{$row.id}', {$row.disabled == 0 ? 1 : 0});">{$row.disabled == 0 ? '禁用' : '启用'}</button>
                        </td>
                    </tr>
                {/volist}
            </tbody>
        </table>
    </div>
    <script>
        // 显示菜单选择器
        function showMenuSelector(roleid){
            $.ajax({
                url: 'roleMenuListJson.html?ajax',
                data: {
                    roleid: roleid
                },
                succeeded: function(data){
                    $('#menusSelector').find('input[type=checkbox]').each(function(index, item){
                        item.checked = false;
                    });
                    for(var i in data.data){
                        $('#menusSelector').find('#menu_id_'+data.data[i]['menu_id']).get(0).checked = true;
                    }
                    var menuSelectorLayerNo = layer.open({
                        type: 1,
                        title: '设置角色可访问菜单',
                        area: ['400px', '500px'],
                        content: $('#menusSelector'),
                        success: function(layero, index){
                            $('#menusSelector').show();
                            // 成功打开之后, 打开第一级的菜单
                            $('#menusSelector').children('div').children('p').children('.subhidden').trigger('click');
                        },
                        end: function(){
                            $('#menusSelector').hide();
                        },
                        btn: ['确定', '取消'],
                        yes: function(index, layero){
                            // 获取所有菜单
                            var checkedMenus = [];
                            $('#menusSelector').find('input[type=checkbox]:checked').each(function(index, item){
                                checkedMenus.push(item.name);
                            });
                            $.ajax({
                                url: 'setRoleMenus.html?ajax',
                                data: {
                                    roleid: roleid,
                                    menuids: JSON.stringify(checkedMenus)
                                },
                                succeeded: function(data){
                                    location.reload();
                                }
                            });
                        },
                        btn2: function(index, layero){
                            layer.close(index);
                        }
                    });
                }
            });
        }
    </script>

    {include file="public/pagination" /}

    <!-- 菜单选择器 -->
    <div class="row">
        <style>
            #menusSelector{
                user-select: none;
                display: none;
                padding: 20px 10px;
            }
            #menusSelector .fa{
                cursor: pointer;
            }
        </style>
        <div class="col-md-12" id="menusSelector">
            {php}
                function subMenuOutput($menus=[], $level=0, $pid=''){
                    echo '<div pid="menu_id_'.$pid.'" style="'.($level > 0 ? 'display: none;' : '').'">';
                    foreach($menus as $k=>$row){
                        echo '    <p>';
                        echo '        <span class="subhidden" onclick="opeSubMenus($(this));" mid="menu_id_'.$row['id'].'" style="width: 20px; margin-left: '.($level*14).'px; display: inline-block;">';
                        echo '            <i class="fa fa-chevron-down" aria-hidden="true" style="display: none;"></i>';
                        echo '            <i class="fa fa-chevron-right" aria-hidden="true"></i>';
                        echo '        </span>';
                        echo '        <input class="checkbox" type="checkbox" name="'.$row['id'].'" id="menu_id_'.$row['id'].'" checked onchange="checkSubMenus($(this).attr(\'id\'), this.checked);" />';
                        echo '        <label for="menu_id_'.$row['id'].'" class="checkbox-label" style="width: calc(100% - 70px);display: inline-block;">';
                        echo '            <i class="fa fa-square-o" aria-hidden="true"></i>';
                        echo '            <i class="fa fa-square" aria-hidden="true"></i>';
                        echo '            <i class="fa fa-check-square-o" aria-hidden="true"></i>';
                        echo '            <span style="margin-left: 20px;">'.$row['name'].'</span>';
                        echo '        </label>';
                        echo '    </p>';
    
                        if(isset($row['subMenus']) && is_array($row['subMenus'])){
                            subMenuOutput($row['subMenus'], $level+1, $row['id']);
                        }
                    }
                    echo '</div>';
                }
                subMenuOutput($menus, 0);
            {/php}
        </div>
        <script>
            function opeSubMenus(obj){
                if(obj.hasClass('subhidden')){
                    obj.removeClass('subhidden');
                    obj.children('.fa-chevron-down').show();
                    obj.children('.fa-chevron-right').hide();
    
                    $('#menusSelector div[pid='+obj.attr('mid')+']').slideDown();
                }else{
                    obj.addClass('subhidden');
                    obj.children('.fa-chevron-down').hide();
                    obj.children('.fa-chevron-right').show();
    
                    $('#menusSelector div[pid='+obj.attr('mid')+']').slideUp();
                }
                obj.parent().show();
            }

            function checkSubMenus(id, checked){
                $('div[pid='+id+']').find('input[type=checkbox]').each(function(index, item){
                    item.checked = checked;
                });
            }
        </script>
    </div>

    <table id="additbox" class="additbox">
        <tbody>
            <tr>
                <td class="rqd">名称</td>
                <td><input type="text" class="form-control" name="name" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">备注</td>
                <td><input type="text" class="form-control" name="remark" placeholder="" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" class="form-control" name="id" />
                    <button class="btn btn-primary" onclick="additbox.save();">确定</button>
                    <button class="btn btn-danger" onclick="additbox.hideAdditbox();">取消</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        var additbox = initAdditbox({
            box:            $('#additbox'),
            width:          '800px',
            height:         '210px',
            addURL:         'add.html?ajax',
            addTitle:       '添加角色',
            editURL:        'edit.html?ajax'
        });

        function dis(id, disabled){
            layer.confirm('确定'+(disabled == 0 ? '启用' : '禁用')+'?', {btn: ['确认', '取消'], title: '确定?'}, function(){
                $.ajax({
                    url: 'dis.html?ajax',
                    data: {
                        id:         id,
                        disabled:   disabled
                    },
                    succeeded: function(data){
                        reload();
                        return true;
                    }
                });
            });
        }
    </script>

</div>
{include file="public/footer" /}