{include file="public/header" /}
<script src="__ROOT__/js/additbox.js"></script>
<div class="container-fluid">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="#">角色管理</a></li>
        <li class="active">角色列表</li>
    </ol>
    <!-- 按钮 -->
    <div class="row buttons">
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="搜索名称" id="searchFieldName" value="{$Request.param.name}">
        </div>
        <div class="col-md-2" align="left">
            <button class="btn btn-success" onclick="location.href = '{$defaultParams??'?'}&mobile='+$('#searchFieldMobile').val()+'&name='+$('#searchFieldName').val()+'';">搜索</button>
            <button class="btn btn-default" onclick="reload();">刷新</button>
        </div>
        <div class="col-md-8" align="right">
            <button class="btn btn-default" onclick="additbox.add();">添加角色</button>
        </div>
    </div>

    <!-- 列表 -->
    <div class="row">
        <table class="table table-hover col-md-12">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {:is_null($data.rows) || count($data.rows) == 0 ? '<tr><td colspan="7" class="no-data">暂无数据</td></tr>' : ''}
                {volist name="data.rows" id="row"}
                    <tr>
                        <td style="display:none;" id="tablerow_{$row.id}">
                            {$row|json_encode}
                        </td>
                        <td>{$row.name}</td>
                        <td class="text-overflow-ellipsis" style="max-width:120px;" title="{$row.remark}">{$row.remark}</td>
                        <td class="fromUnixtimestamp">{$row.create_time}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" onclick="additbox.edit('修改 - {$row.title}', $('#tablerow_{$row.id}').html());">修改</button>
                            <button class="btn btn-danger btn-sm" onclick="dis('{$row.id}', 1);">删除</button>
                        </td>
                    </tr>
                {/volist}
            </tbody>
        </table>
    </div>

    {include file="public/pagination" /}

    <table id="additbox" class="additbox">
        <tbody>
            <tr>
                <td class="rqd">姓名</td>
                <td><input type="text" class="form-control" name="name" placeholder="" /></td>
            </tr>
            <tr>
                <td class="">备注</td>
                <td><input type="text" class="form-control" name="remark" placeholder="" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" class="form-control" name="id" />
                    <button class="btn btn-primary" onclick="additbox.save();">确定</button>
                    <button class="btn btn-danger" onclick="additbox.hideAdditbox();">取消</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        var additbox = initAdditbox({
            box:            $('#additbox'),
            width:          '800px',
            height:         '210px',
            addURL:         'add.html?ajax',
            addTitle:       '添加角色',
            editURL:        'edit.html?ajax'
        });

        function dis(id, disabled){
            layer.confirm('确定删除?', {btn: ['确认', '取消']}, function(){
                $.ajax({
                    url: 'dis.html?ajax',
                    data: {
                        id:         id,
                        disabled:   disabled
                    },
                    succeeded: function(data){
                        reload();
                        return true;
                    }
                });
            });
        }
    </script>

</div>
{include file="public/footer" /}